---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center mb-4">
      This page not exists...
    </h1>
    <img
      src="https://25.media.tumblr.com/c871564351bc7a6f430a4d425c7ccb85/tumblr_mm90hr5Z0d1r22bgjo1_400.gif"
      alt="gif animado"
    />
  </div>
</Layout>
