---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About the project">
  <!-- <h1>About the project</h1>
  <p>The SpaceX launches projects is a demo for the Astro course</p> -->

  <div
    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col w-1/2 mx-auto p-8"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
    >
      About the project
    </h5>
    <p class="font-normal text-gray-300 dark:text-gray-400">
      The SpaceX launches projects is a demo for the Astro course.
    </p>
  </div>
</Layout>
